#login_form{
  text-align: center;
  border-radius: 5px;
  background-color: #f2f2f2;
}
#login_form #or_spacer{
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

#login_form #login_links{
  margin-top: 20px;
}

#login_form .submit_action{
  padding-top: 20px;
}